*{
margin: 0;
padding: 0;
font-family: 'Love Ya Like A Sister', cursive;
}
body:hover {
background-color: #b3d9ff;
}
#logo {
height: 13vh;
padding: 10px;
}
.navbar-nav {
border: none; /* Remove borders */
color: white; /* Add a text color */
padding: 15px 28px; /* Add some padding */
cursor: pointer; /* Add a pointer cursor on mouse-over */
font-size: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
#form-contact {
margin:0;
padding:0;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
-o-font-smoothing:antialiased;
font-smoothing:antialiased;
text-rendering:optimizeLegibility;
max-width:600px;
width:100%;
margin:0 auto;
position:relative;
margin-top: 130px;
}
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
#contact {
background:#F9F9F9;
padding:25px;
margin:50px 0;
}
#contact h3 {
color: #F96;
display: block;
font-size: 30px;
font-weight: 400;
}
#contact h4 {
margin:5px 0 15px;
display:block;
font-size:13px;
}
fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
width:100%;
border:1px solid #CCC;
background:#FFF;
margin:0 0 5px;
padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
-webkit-transition:border-color 0.3s ease-in-out;
-moz-transition:border-color 0.3s ease-in-out;
transition:border-color 0.3s ease-in-out;
border:1px solid #AAA;
}
#contact textarea {
height:100px;
max-width:100%;
resize:none;
}
#contact button[type="submit"] {
cursor:pointer;
width:100%;
border:none;
background:#0CF;
color:#FFF;
margin:0 0 5px;
padding:10px;
font-size:15px;
}
#contact button[type="submit"]:hover {
background:#09C;
-webkit-transition:background 0.3s ease-in-out;
-moz-transition:background 0.3s ease-in-out;
transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
#contact input:focus, #contact textarea:focus {
outline:0;
border:1px solid #999;
}
::-webkit-input-placeholder {
color:#888;
}
:-moz-placeholder {
color:#888;
}
::-moz-placeholder {
color:#888;
}
:-ms-input-placeholder {
color:#888;
}
.sky { background:#C0DEED}
.cloud{
background:url('https://raw.githubusercontent.com/claudz1/CodepenImages/master/bg-clouds.png') repeat-x;
height:100px;
animation:cloudani 10s linear infinite;
}
@keyframes cloudani{
from{
background-position:0 0;
}
to{
background-position:20% 0;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#logo {padding-left: 17px;
height: 72px;}
#navfonts {
font-size: 17px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}*{
margin: 0;
padding: 0;
font-family: 'Love Ya Like A Sister', cursive;
}
body:hover {
background-color: #b3d9ff;
}
#logo {
height: 13vh;
padding: 10px;
}
.navbar-nav {
border: none; /* Remove borders */
color: white; /* Add a text color */
padding: 15px 28px; /* Add some padding */
cursor: pointer; /* Add a pointer cursor on mouse-over */
font-size: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
#form-contact {
margin:0;
padding:0;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
-o-font-smoothing:antialiased;
font-smoothing:antialiased;
text-rendering:optimizeLegibility;
max-width:600px;
width:100%;
margin:0 auto;
position:relative;
margin-top: 130px;
}
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
#contact {
background:#F9F9F9;
padding:25px;
margin:50px 0;
}
#contact h3 {
color: #F96;
display: block;
font-size: 30px;
font-weight: 400;
}
#contact h4 {
margin:5px 0 15px;
display:block;
font-size:13px;
}
fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
width:100%;
border:1px solid #CCC;
background:#FFF;
margin:0 0 5px;
padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
-webkit-transition:border-color 0.3s ease-in-out;
-moz-transition:border-color 0.3s ease-in-out;
transition:border-color 0.3s ease-in-out;
border:1px solid #AAA;
}
#contact textarea {
height:100px;
max-width:100%;
resize:none;
}
#contact button[type="submit"] {
cursor:pointer;
width:100%;
border:none;
background:#0CF;
color:#FFF;
margin:0 0 5px;
padding:10px;
font-size:15px;
}
#contact button[type="submit"]:hover {
background:#09C;
-webkit-transition:background 0.3s ease-in-out;
-moz-transition:background 0.3s ease-in-out;
transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
#contact input:focus, #contact textarea:focus {
outline:0;
border:1px solid #999;
}
::-webkit-input-placeholder {
color:#888;
}
:-moz-placeholder {
color:#888;
}
::-moz-placeholder {
color:#888;
}
:-ms-input-placeholder {
color:#888;
}
.sky { background:#C0DEED}
.cloud{
background:url('https://raw.githubusercontent.com/claudz1/CodepenImages/master/bg-clouds.png') repeat-x;
height:100px;
animation:cloudani 10s linear infinite;
}
@keyframes cloudani{
from{
background-position:0 0;
}
to{
background-position:20% 0;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#logo {padding-left: 17px;
height: 72px;}
#navfonts {
font-size: 17px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}