*{
margin: 0;
  padding: 0;

}

body {
margin: 0;
padding: 0;
background:black;
animation:bgChange 10s infinite;
animation-direction: alternate;
/* Chrome, Safari, Opera */
-webkit-animation:bgChange 10s infinite; ​
-webkit-animation-delay: 0s;
overflow: hidden;
}
/* Standard syntax */
@keyframes bgChange{
0% {background:black;}
50% {background:skyblue;}
100% {background:black;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bgChange{
0% {background:black;}
25% {background:skyblue;}
50% {background:deepskyblue;}
75% {background:skyblue;}
100% {background:black;}
}
.theSun {
width:100px;
height:100px;
position:absolute;
animation:sunRising 10s infinite;
border-radius:50%;
-moz-border-radius:50%;
/* Safari and Chrome */
-webkit-animation:sunRising 10s infinite;
background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}
@keyframes sunRising
{
0%   {top:70%;left:-10%;}
25%  {top:30%;left:25%;}
50%  {top:5%;left:50%;}
75%  {top:30%;left:75%;}
100% {top:70%;left:110%;}
}
@-webkit-keyframes sunRising /* Safari and Chrome */{
0%   {top:70%;left:-10%;}
25%  {top:30%;left:25%;}
50%  {top:5%;left:50%;}
75%  {top:30%;left:75%;}
100% {top:70%;left:110%;}
}
.cloud{
width:200px;
height:60px;
background:white;
position:relative;
border-radius:200px;
-webkit-border-radius:200px;
-moz-border-radius:200px;
}
.cloud:before, .cloud:after{
content:'';
background:white;
position:absolute;
width:100px;
height:80px;
top:-15px;
left:10px;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
-webkit-transform: rotate(30deg);
transform: rotate(30deg);
-moz-transform: rotate(30deg);
}
.cloud:after {
width: 120px; height: 120px;
top: -55px; left: auto; right: 15px;
}
.c1 {
margin-top:100px;
-webkit-animation: moveclouds 10s linear infinite;
-moz-animation: moveclouds 10s linear infinite;
-o-animation: moveclouds 10s linear infinite;
}
.c2 {
margin-top:30px;
-webkit-animation: moveclouds 12s linear infinite;
-moz-animation: moveclouds 12s linear infinite;
-o-animation: moveclouds 12s linear infinite;
animation-delay:-1s;
-webkit-animation-delay:-1s; /* Safari and Chrome */ 
-moz-animation-delay: -1s /* Firefox */
}
@-webkit-keyframes moveclouds {
0% {left: 110%;opacity:0.8}
50% {opacity:0.7;}
75% {opacity:0.6;}
85% {opacity:0;}
100% {left: -10%;opacity:0;}
}
@-moz-keyframes moveclouds {
0% {left: 110%;opacity:0.8}
50% {opacity:0.7;}
75% {opacity:0.6;}
85% {opacity:0;}
100% {left: -10%;opacity:0;}
}
@-o-keyframes moveclouds {
0% {left: 110%;opacity:0.8}
50% {opacity:0.7;}
75% {opacity:0.6;}
85% {opacity:0;}
100% {left: -10%;opacity:0;}
}
.logo img{
  height: 220px;
  position: relative;
  left: 330px;
  top: 220px;
 
}

.glow-button {
text-decoration: none;
color: rgba(255, 255, 255, 0.8);
background: rgb(145, 92, 182);
padding: 15px 40px;
border-radius: 15px;
font-weight: normal;
transition: all 0.2s ease-in-out;
font-family: 'Gamja Flower', cursive;
font-size: 20px;
position: absolute;
top: 470px;
left: 550px;
}

.glow-button:hover {
color: rgba(255, 255, 255, 1);
box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
text-decoration: none;

 }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: transparent;
 
}

.container:hover .overlay {
  opacity: 1;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
 
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
.logo img{
  width: 1000px;
    position: relative;
    top: 350px;
    width: 250px;
    left: 270px;

  }

  .btn {
    position: absolute;
    left: 340px;
    top: 600px;  }  

}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .logo img{
    position: relative;
    top: 100px;
    width: 250px;
    left: 38px;

  }

  .btn {
    position: absolute;
    left: 110px;
    top: 330px;  }
 
  
}